parameters:
    ignoreErrors:
        - '#Call to an undefined method Mockery\\ExpectationInterface|Mockery\\HigherOrderMessage::once\(\).#'
        - '#Call to an undefined method object::getTransactionCodeDetails\(\).#'
